<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EaseMyTripAutomationSuite">
  <test thread-count="5" name="EaseMyTripTestCases">
    <classes>
      <class name="com.easemytrip.qa.tests.LoginPageTest"/>
      <class name="com.easemytrip.qa.tests.RegistrationPageTest"/>
      <class name="com.easemytrip.qa.tests.HomePageTest"/>
    </classes>
  </test> <!-- EaseMyTripTestCases -->
</suite> <!-- EaseMyTripAutomationSuite -->
